@page
@using WebApp.MyLibraries
@model WebApp.Pages.CheckersStates.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].CreatedAt) (UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].SerializedGamePieces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].WhiteMoves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].BlackMoves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].LastMovedToX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].LastMovedToY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].LastMoveState)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Entities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Utils.ShortenSerializedGamePieces(item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhiteMoves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackMoves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMovedToX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMovedToY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMoveState)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>