@page
@using WebApp.MyLibraries
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].CreatedAt) (UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].SerializedGamePieces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].WhiteMoves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].BlackMoves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].LastMovedToX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].LastMovedToY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].LastMoveState)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Entities.Count; i++)
    {
        <tr>
            @{ var item = Model.Entities[i]; }
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @if (item.SerializedGamePieces.Length > 50)
                {
                    <div class="collapse expandGamePieces-@i show" id="gamePiecesShortened-@i">
                        @Utils.ShortenSerializedGamePieces(item)
                        <a data-bs-toggle="collapse"
                           href=".expandGamePieces-@i"
                           role="button"
                           aria-expanded="false"
                           aria-controls="gamePiecesExpanded-@i gamePiecesShortened-@i">
                            Expand
                        </a>
                    </div>
                    <div class="collapse expandGamePieces-@i" id="gamePiecesExpanded-@i">
                        <div class="card card-body game-pieces-expanded-content">
                            @item.SerializedGamePieces
                        </div>
                        <a data-bs-toggle="collapse"
                           href=".expandGamePieces-@i"
                           role="button"
                           aria-expanded="true"
                           aria-controls="gamePiecesExpanded-@i gamePiecesShortened-@i">
                            Show less
                        </a>
                    </div>
                }
                @if (item.SerializedGamePieces.Length <= 50)
                {
                    <div class="card card-body">
                        @item.SerializedGamePieces
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhiteMoves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackMoves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMovedToX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMovedToY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMoveState)
            </td>
            <td class="d-flex flex-column align-items-center">
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>