@page
@using WebApp.MyLibraries
@using DAL.Filters
@model IndexModel

@{
    ViewData["Title"] = "CheckersRulesets";
}

<h1>Index</h1>

<form method="GET" class="d-flex gap-4">
    @{
        const string savedFilter = nameof(Model.SavedFilter);
        const string rulesetQuery = nameof(Model.RulesetQuery);
    }
    <div>
        <label for="@rulesetQuery">Search by summary text</label><br/>
        <input id="@rulesetQuery" type="search" name="@rulesetQuery" value="@Model.RulesetQuery"/>
        <button type="submit">Search</button>
    </div>
    <div>
        <label for="@savedFilter">Filter by completion</label><br/>
        <select id="@savedFilter" asp-items="@Utils.GetSelectOptions(SavedFilter.Values, Model.SavedFilter)" name="@savedFilter"></select>
        <button type="submit">Filter</button>
    </div>
</form>

<p>
    <a class="btn btn-primary mt-2" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].BuiltIn)
        </th>
        @if (Model.SavedFilter == SavedFilter.All)
        {
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Saved)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].CreatedAt) (UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].LastModified) (UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].BlackMovesFirst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].MustCapture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].CanCaptureBackwards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].CanCaptureBackwardsDuringMultiCapture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].FlyingKings)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Entities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuiltIn)
            </td>
            @if (Model.SavedFilter == SavedFilter.All)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Saved)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackMovesFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MustCapture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanCaptureBackwards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanCaptureBackwardsDuringMultiCapture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlyingKings)
            </td>
            <td class="d-flex flex-column align-items-center text-nowrap">
                @if (item.IsEditable)
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                }
                <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-createCopy="@true.ToString()" asp-route-saved="@true.ToString()">Edit copy</a>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                @if (item.IsEditable)
                {
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>