@page
@using WebApp.MyLibraries
@model WebApp.Pages.CheckersGames.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CheckersGame</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entity.WhitePlayerName" class="control-label"></label>
                <input asp-for="Entity.WhitePlayerName" class="form-control"/>
                <span asp-validation-for="Entity.WhitePlayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.BlackPlayerName" class="control-label"></label>
                <input asp-for="Entity.BlackPlayerName" class="form-control"/>
                <span asp-validation-for="Entity.BlackPlayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.WhiteAiType" class="control-label"></label>
                <select asp-for="Entity.WhiteAiType" class="form-control" asp-items="@Utils.GetSelectOptionsNullable(Model.Entity.WhiteAiType)"></select>
                <span asp-validation-for="Entity.WhiteAiType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.BlackAiType" class="control-label"></label>
                <select asp-for="Entity.BlackAiType" class="form-control" asp-items="@Utils.GetSelectOptionsNullable(Model.Entity.BlackAiType)"></select>
                <span asp-validation-for="Entity.BlackAiType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.CheckersRuleset" class="control-label"></label>
                <input asp-for="Entity.CheckersRuleset" class="form-control" readonly value="@(Model.Entity.CheckersRuleset!.Id + " - " + Model.Entity.CheckersRuleset?.TitleText)"/>
                <span asp-validation-for="Entity.CheckersRuleset" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Entity.CheckersRulesetId" class="control-label"></label>
                <input asp-for="Entity.CheckersRulesetId" class="form-control" readonly value="@Model.Entity.CheckersRuleset!.Id"/>
                <span asp-validation-for="Entity.CheckersRulesetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.StartedAt" class="control-label">@Html.DisplayNameFor(model => model.Entity.StartedAt) (UTC)</label>
                <input asp-for="Entity.StartedAt" class="form-control"/>
                <span asp-validation-for="Entity.StartedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.EndedAt" class="control-label">@Html.DisplayNameFor(model => model.Entity.EndedAt) (UTC)</label>
                <input asp-for="Entity.EndedAt" class="form-control"/>
                <span asp-validation-for="Entity.EndedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.Winner" class="control-label"></label>
                <select asp-for="Entity.Winner" class="form-control" asp-items="@Utils.GetSelectOptionsNullable(Model.Entity.Winner)"></select>
                <span asp-validation-for="Entity.Winner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.DrawProposedBy" class="control-label"></label>
                <select asp-for="Entity.DrawProposedBy" class="form-control" asp-items="@Utils.GetSelectOptionsNullable(Model.Entity.DrawProposedBy)"></select>
                <span asp-validation-for="Entity.DrawProposedBy" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Entity.Id"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}