@page
@model WebApp.Pages.CheckersGames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].WhitePlayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].BlackPlayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].CheckersRuleset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].StartedAt) (UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].EndedAt) (UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].Winner)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CheckersGame)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-page="./Play" asp-route-id="@item.Id" asp-route-playerId="@item.WhitePlayerId">@item.WhitePlayerId</a>
            </td>
            <td>
                <a asp-page="./Play" asp-route-id="@item.Id" asp-route-playerId="@item.BlackPlayerId">@item.BlackPlayerId</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckersRulesetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                <a asp-page="./Play" asp-route-id="@item.Id" asp-route-swap="true">Play (shared window)</a> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>