@page
@using DAL.Filters
@using Domain.Model
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApp.MyLibraries
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="GET" class="d-flex gap-4">
    @{
        const string completionFilter = nameof(Model.CompletionFilter);
        const string aiTypeFilter = nameof(Model.AiTypeFilter);
        const string rulesetQuery = nameof(Model.RulesetQuery);
        const string playerQuery = nameof(Model.PlayerNameQuery);
    }
    <div>
        <label for="@playerQuery">Search by player name</label><br/>
        <input id="@playerQuery" type="search" name="@playerQuery" value="@Model.PlayerNameQuery"/>
        <button type="submit">Search</button>
    </div>
    <div>
        <label for="@rulesetQuery">Search by ruleset</label><br/>
        <input id="@rulesetQuery" type="search" name="@rulesetQuery" value="@Model.RulesetQuery"/>
        <button type="submit">Search</button>
    </div>
    <div>
        <label for="@aiTypeFilter">Search by AI</label><br/>
        <select id="@aiTypeFilter" asp-items="@Utils.GetSelectOptions(AiTypeFilter.Values, Model.AiTypeFilter)" name="@aiTypeFilter"></select>
        <button type="submit">Filter</button>
    </div>
    <div>
        <label for="@completionFilter">Filter by completion</label><br/>
        <select id="@completionFilter" asp-items="@Utils.GetSelectOptions(CompletionFilter.Values, Model.CompletionFilter)" name="@completionFilter"></select>
        <button type="submit">Filter</button>
    </div>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].WhitePlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].BlackPlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].WhiteAiType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].BlackAiType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].CheckersRuleset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].StartedAt) (UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].EndedAt) (UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].Winner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities[0].DrawProposedBy)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Entities)
    {
        <tr>
            <td>
                <a asp-page="./Launch" asp-route-id="@item.Id" class="btn btn-primary">@GameLaunchButtonText(item)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-page="./Play" asp-route-id="@item.Id" asp-route-playerId="@item.WhitePlayer.Id">@item.WhitePlayerName</a>
            </td>
            <td>
                <a asp-page="./Play" asp-route-id="@item.Id" asp-route-playerId="@item.BlackPlayer.Id">@item.BlackPlayerName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhiteAiType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackAiType)
            </td>
            <td>
                <a asp-page="/CheckersRulesets/Details" asp-route-id="@item.CheckersRulesetId">
                    @(item.CheckersRuleset!.ToString())
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawProposedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@functions
{
    static string GameLaunchButtonText(CheckersGame checkersGame)
    {
        return checkersGame.Ended ? "Results" : "Play";
    }
}